<%= render partial: '/partials/navbar',locals: {p: catagory_index_path, title: 'Catagories'} %>
<div class="container bg-light">
<% if @catagories.length == 0 %>
<h2 class="text-center mt-5">You have no categories registered</h2>
<% end %>
<% @catagories.each_with_index do |catagory,idx| %>
<a href=<%= transaction_index_path_url(id: catagory.id)%> style="text-decoration: none;color: inherit;">
<div  class='d-flex justify-content-between p-2 my-3 border bg-white'>
    <div>
    <img 
    class="icon" 
    style="width:50px"
    src=<%= catagory.icon %>
    alt="face" />
    </div>
    <div class="flex-grow-1 px-1">
        <h2><%= catagory.name%></h2>
        <small class="text-muted"><%= catagory.created_at.strftime("%d  %B %Y at %I:%M %p") %></small>
    </div>
    <div>
        <span>
            <%= @totals[idx] %>$  
        </span>
    </div>
</div>
<% end %>
</a>
<div class="d-flex justify-content-center p-5">
<%= button_to "create catagory", catagory_new_path, method: :get,class:"btn btn-success btn-lg" %>
</div>
</div>
