<%= render partial: '/partials/navbar',locals: {p: catagory_index_path, title: 'Catagories'} %>
<div class="container p-3 d-flex flex-column align-items-stretch">
<%= form_with model: @new_catagory, url: catagory_create_path, method: :post, local: true, scope: :new_catagory do |f| %>
    <div class="form-group">
    <%= f.label :Name %><br>
    <%= f.text_field :name,class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :Icon %><br>
    <%= f.text_field :icon,class:"form-control"%>
    </div>

    <%= f.submit "Save",class:"btn btn-primary" %>
<% end %>
</div>
