<%= render partial: '/partials/navbar',locals: {p: catagory_index_path, title: 'Transactions'} %>

<div class="container bg-light">
<%= render partial: '/partials/category',locals: {catagory: @catagory, total:@total} %>
<% if @records.length == 0 %>
 <h2 class="text-center mt-5">You have no transactions associated with this category</h2>
<% end %>
<% @records.each do |record| %>
<div  class='d-flex flex-column justify-content-start p-2 my-3 border bg-white'>
    <div class="flex-grow-1 px-2">
        <h2><%= record.name%></h2>
        
    </div>
    <div class="d-flex justify-content-between">
        <span>Amount</span>
        <span>
            <%= record.amount %> $  
        </span>
    </div>
    <div>
    <span><%= record.created_at.strftime("%d  %B %Y at %I:%M %p")  %></span>
    </div>
</div>
<% end %>
<div class="d-flex justify-content-center p-5">
<%= button_to "Create transaction", transaction_new_path_url(id: @catagory_id), method: :get,class:"btn btn-success btn-lg" %>
</div>
</div>
